<%- include("partials/head")%>

<% if(foro) { %>
<body>
  <h2 style="color: white;">Edicion del foro</h2>
  <div class="container mt-4">
    <div class="card border-secondary ">
      <div class="card-header">Editar Foro</div>
      <div class="card-body">
        <form action="/updateForo" method="post">
          <input id="id" name="id" value="<%= foro.id %>" hidden />
          <div class="mb-3">
            <label for="foro" class="form-label">Titulo</label>
            <input
              type="text"
              class="form-control"
              id="Titulo"
              name="Titulo"
              value="<%=foro.Titulo%>"
              placeholder="Titulo del post"
              tabindex="1"
              required
            />
          </div>
          <div class="mb-3">
            <label for="foro" class="form-label">Texto</label>
            <input
              type="text"
              class="form-control"
              id="Texto"
              name="Texto"
              value="<%=foro.Texto%>"
              placeholder="ingresa tu texto aqui"
              tabindex="2"
              style = "height: 100px;"
              required
            />
          </div>
          <div class="mb-3">
            <label for="foro" class="form-label">Imagen</label>
            <input
              type="text"
              class="form-control"
              id="Imagen"
              name="Imagen"
              value="<%=foro.Imagen%>"
              placeholder="url de la imagen"
              tabindex="3"

            />
          </div>
          <div>
            <label for="foro" class="form-label">Fecha de Creacion</label>
            <input
              type="datetime-local"
              class="form-control"
              id="createdAt"
              name="createdAt"
              value="<%=foro.createdAt%>"
              placeholder="Ingresa la fecha"
              tabindex="4"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary mt-4" >
            Guardar
          </button>
          <a href="/foro" class="btn btn-secondary mt-4 ">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
  <% } %>
</body>

<%- include("partials/footer")%>